body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container .cart {
    float: right;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}

.main {
    min-height: calc(100vh - 150px); /* Ajustar según la altura del footer */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-box {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    width: 50%;
    height: 20px;
    background-color: #ccc;
    margin: 20px auto;
    position: relative;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer ul li:last-child {
    margin-right: 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

 /* Estilo del botón */
 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo del botón al pasar el cursor */
.btn:hover {
    background-color: #0056b3;
}
